<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome<br>
   <snap th:each="selectedPerson:${persons}">
       <snap th:style="'color:'+ ${color}" th:text="${selectedPerson.name}"></snap><br>

   </snap>
</h1>

<h2>Add Person</h2>
<form action="/person", method="post">
    Person Name: <input type="text" name="name"> <br>
    <button type="submit">Add this person</button>
</form>

</body>
</html>